.navbarmain{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  background-color: rgb(253, 178, 4);
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
}

.navbarmain .logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  color: black;
} 

.navbarmain .logo img {
  height: 50px;
  width: 50px;
}

.navbarmain .btnNavbarmain {
  margin-right: 20px; 
  margin-left: 20px; 
  background-color: #69503C;
  position: relative;
  display: flex;
  transition: 0.4s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 15px;
}

.bar1 {
  border-radius: 30px;
  background-color: rgb(253, 178, 4);
  width: 40px;
  margin-bottom: 15px;
  transition: 0.4s;
  height: 5px;
}

.bar2 {
  border-radius: 30px;
  background-color: rgb(253, 178, 4);
  width: 40px;
  position: absolute;
  transition: 0.4s;
  height: 5px;
}

.bar3_h {
  border-radius: 30px;
  background-color: rgb(253, 178, 4);
  width: 40px;
  transition: 0.4s;
  height: 5px;
}

.bar4 {
  border-radius: 30px;
  background-color: rgb(253, 178, 4);
  width: 40px;
  margin-top: 15px;
  transition: 0.4s;
  height: 5px;
}

.btnNavbarmain:hover {
  border-radius: 50px;
}
.btnNavbarmain:hover .bar3_h {
  transform: rotate(-45deg);
}
.btnNavbarmain:hover .bar2 {
  transform: rotate(45deg);
}

.btnNavbarmain:hover .bar1 {
  opacity: 0;
  width: 30px;
}
.btnNavbarmain:hover .bar4 {
  opacity: 0;
  width: 30px;
}
