.ContainerLogin {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 3px;
}

.ContainerLogin .ContainerLogoLogin {
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 15px;
  background-image: url("./CofeeLogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ContainerLogin .ContainerLogoLogin {
  display: flex;
  justify-content: center;
}

.ContainerLogin .ContainerLogoLogin .LogoLogin {
  background-color: white;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContainerLogin 
.ContainerLogoLogin 
.LogoLogin img {
  width: 100%;
}

.FormLogin{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: #E3D7BF;
  border-radius: 25px;
}