.FormProduct form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.FormProduct button {
  height: 50px;
  width: 50%;
  border-radius: 34px;
  background-color: #916b5e;
  color: white;
}
.FormProduct button:hover {
  background-color: #8e6c49;
}

/*Formulario de login*/
.FormLogin{
  width: 90%;
}
.FormLogin form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.FormLoginBtn {
  background-color: #916b5e;
  color: white;
  width: 50%;
  height: 50px;
  border-radius: 25px;
}
.FormLoginBtn:hover{
  background-color: #8e6c49;
}